<div class="container-fluid">

  <div class="row">
    <div class="header col-md-12">Caja Registradora</div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-lista-productos titulo="Comida" [productos]="arrComida"
        (emitirProducto)="manejarProductosSeleccionados($event)"></app-lista-productos>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-lista-productos titulo="Bebida" [productos]="arrBebida"
        (emitirProducto)="manejarProductosSeleccionados($event)"></app-lista-productos>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-pedido [productosSeleccionados]="arrProductosSeleccionados"></app-pedido>
    </div>
  </div>

</div>